.welcome
  Welcome. To play, please follow link in top right to register.  Once you have an account, click "New Game" to play X against the computer playing O.  Enjoy!

/ <div class="welcome">
/   Welcome. To play, please follow link in top right to register.  Once you have an account, click "New Game" to play X against the computer playing O.  Enjoy!
/ </div>
