<h1>Games#show</h1>
<p>Find me in app/views/games/show.html.erb</p>

<a href="#"><div class="ttt-cell">link to 0</div></a>
<a href="#"><div class="ttt-cell">link to 1</div></a>
<a href="#"><div class="ttt-cell">link to 2</div></a>
<a href="#"><div class="ttt-cell">link to 3</div></a>
<a href="#"><div class="ttt-cell">link to 4</div></a>
<a href="#"><div class="ttt-cell">link to 5</div></a>
<a href="#"><div class="ttt-cell">link to 6</div></a>
<a href="#"><div class="ttt-cell">link to 7</div></a>
<a href="#"><div class="ttt-cell">link to 8</div></a>
