<div class="scoreboard">
  <table>
  <h3>Scoreboard</h3>
    <thead>
      <tr>
        <th>User</th>
        <th>Wins</th>
      </tr>
    </thead>
    <tbody>
      <% User.all.each do |user| %>  
      <tr>
        <td><%= user.email %></td>
        <td><%= user.wins %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

