* {
  box-sizing: border-box;
}

.ttt-cell {
  width: 150px;
  height: 150px;
  float: left;
  border-style: solid;
  border-color: black;
  margin: 2px;
  text-align: center;
  font-size: 25px;
  padding: 55px;
}

.ttt-board {
  width: 465px;
  height: 465px;
  margin: auto;
  text-align: center;
}

.devise {
  width: 400px;
  margin: auto;
}

.lets-start {
  width: 465px;
  height: 465px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.status-message{
  width: 465px;
  height: 60px;
  margin: auto;
  margin-top: 20px;
  text-align:center;
  color: red;
  font-size: 30px;
}

.computer-button {
  width: 465px;
  margin: auto;
  margin-top: 20px;
  text-align:center;
}

.scoreboard {
  width: 465px;
  margin: auto;
  margin-top: 20px;
}

.scoreboard, table {
  margin-left:auto; 
  margin-right:auto;
}

.scoreboard, h3 {
  text-align: center;
}

.welcome {
  width: 465px;
  margin: auto;
  margin-top: 20px;
  text-align:center;
}