* {
  box-sizing: border-box;
}

.ttt-cell {
  width: 150px;
  height: 150px;
  float: left;
  border-style: solid;
  border-color: black;
  margin: 2px;
  text-align: center;
  font-size: 25px;
  padding: 55px;
}

.ttt-board {
  width: 465px;
  height: 465px;
  margin: auto;
  text-align: center;
}

.devise {
  width: 400px;
  margin: auto;
}

.lets-start {
  width: 465px;
  height: 465px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.status-message{
  width: 465px;
  height: 60px;
  margin: auto;
  margin-top: 20px;
  text-align:center;
  color: red;
  font-size: 30px;
}

.computer-button {
  width: 465px;
  margin: auto;
  margin-top: 20px;
  text-align:center;
}

.scoreboard {
  width: 465px;
  margin: auto;
  margin-top: 20px;
}

.scoreboard, table {
  margin-left:auto; 
  margin-right:auto;
}

.scoreboard, h3 {
  text-align: center;
}

.welcome {
  width: 465px;
  margin: auto;
  margin-top: 20px;
  text-align:center;
}


/*div {
    width: 300px;
    height: 600px;
}

div div {
    width: 100px;
    height: 100px;
    /*outline: 1px solid
    float: left;
}

div {
    width: 310px;
    height: 600px;
}
div div {
    width: 100px;
    height: 100px;
    float: left;
}
div div:nth-child(-n+3) {
    border-bottom: 3px solid;
}
div div:nth-child(-n+6) {
    border-bottom: 3px solid;
}
div div:nth-child(1), div:nth-child(2), div:nth-child(4), div:nth-child(5), div:nth-child(7), div:nth-child(8) {
    border-right: 3px solid;
} */